.message{
    display: flex;
    gap: 20px;


    .messageInfo{
        display: flex;
        flex-direction: column;
        color: gray;
        margin-bottom: 20px;
        img{
            width: 40px;
            height: 40px;
            border-radius: 50%;
            object-fit: cover;
        }
    }
    .messageContent{
        display: flex;
        flex-direction: column;
        gap: 10px;
        max-width: 80%;

        img{
            height: 50%;
            width:50%
        }
    }
}