@mixin mobile{
    @media screen and (max-width:480px){
        @content;
    }
  }
  @mixin tablet{
    @media screen and (max-width:768px){
        @content;
        }
    }
  @mixin laptop{
    @media screen and (max-width:1200px){
        @content;
    }
  }

.navbar{
    display: flex;
    align-items: center;
    background: #18122B;
    height: 50px;
    padding: 10px;
    justify-content: space-between;
    color: #ddddf7;
    display: no;

    .appName{
        font-weight: bold;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        @include tablet{
            display: none;
        }
    }
    .user{
        display: flex;
        align-items: center;
        gap: 10px;

        .infoDiv{
            display: flex;
            gap:10px;
        }
        img{
            background-color: #ddddf7;
            height: 24px;
            width: 24px;
            border-radius: 70%;
            object-fit: cover;
        }

        button{
            background-color: #443C68;
            font-size: 10px;
            height: 20px;
            border-radius: 3px;
            border: none;
            color: #ddddf7;
            cursor: pointer;
            @include tablet{
                background-color: #18122B;
                position: absolute;
                bottom: 10px;
                left: 10px;
            }

            &:hover{
                transition: ease-out 0.2s;
                background-color: #635985;
            }
        }
    }
}
