@mixin mobile{
    @media screen and (max-width:480px){
        @content;
    }
  }
  @mixin tablet{
    @media screen and (max-width:768px){
        @content;
        }
    }
  @mixin laptop{
    @media screen and (max-width:1200px){
        @content;
    }
  }

.home{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#18122B;
    height: 100vh;
    
    .container{
        display: flex;
        overflow: hidden;
        border-radius: 10px;
        border: 1px solid white;
        width: 70%;
        height: 80%; 
        @include tablet{
            width: 90%;
        }
    }
    

}